/*
 * Theme Name:  TMS Theme Filharmonia
 * Description: Tampere Multisite Filharmonia Theme
 * Version:     1.11.2
 * Author:      Geniem
 * Author URI:  https://geniem.fi
 * Template:    tms-theme-base
 * Text Domain: tms-theme-filharmonia
 */
