.page {
    &__hero {
        max-width: 1344px;
        margin: 0 auto;
        height: 14rem;

        @include from($tablet) {
            height: 26rem;
        }
    }

    .entry {
        &__content {
            > *:last-child {
                padding-bottom: $theme-spacing-three;
            }
        }
    }
}
