.page {
    // Remove paddings for first component
    &__hero-section:has(+ .section) {
        padding-bottom: 0;
    }

    &__hero-section + .section {
        padding-top: 0;
    }

    &__hero {
        max-width: 1344px;
        margin: 0 auto;
        height: 14rem;

        @include from($tablet) {
            height: 26rem;
        }
    }
}
