.breadcrumb {
    li + li {
        &::before {
            display: none !important;
        }
    }

    &.has-succeeds-separator li + li::before {
        content: none;
    }

    .breadcrumbs__nav a {
        color: $primary;
    }

    a {
        padding-left: 0;
        padding-right: 0;
    }
}
