.button {
    &.is-primary {
        color: $primary-invert !important;

        .icon {
            fill: $primary-invert !important;
        }

        &.is-inverted {
            color: $secondary-invert !important;

            .icon {
                fill: $secondary-invert !important;
            }
        }

        &.is-outlined {
            color: $primary !important;

            .icon {
                fill: $primary !important;
            }
        }
    }

    &.is-secondary {
        color: $secondary !important;
    }

    &.is-secondary-invert {
        &.is-outlined {
            color: $secondary-invert !important;
            border-color: $secondary-invert !important;

            .icon {
                fill: $secondary-invert !important;
            }
        }
    }

    &.is-small {
        &.button--icon {
            .icon {
                display: block;
            }
        }
    }
}
