.button {
    background-color: $color-blue-light;
    border-color: $color-blue-light;
    color: $color-black !important;

    .icon {
        fill: $color-black !important;
    }

    &.is-inverted {
        &,
        &:hover,
        &:focus {
            color: $secondary-invert !important;
            background-color: $primary-invert !important;
            border-color: $primary !important;

            .icon {
                fill: $secondary-invert !important;
            }
        }
    }

    &.is-primary {
        background-color: $color-blue-light;
        border-color: $color-blue-light;
        color: $color-black !important;

        .icon {
            fill: $color-black !important;
        }

        &.is-inverted {
            &,
            &:hover,
            &:focus {
                color: $secondary-invert !important;
                background-color: $primary-invert !important;
                border-color: $primary-invert !important;

                .icon {
                    fill: $secondary-invert !important;
                }
            }
        }

        &.is-outlined {
            background-color: transparent !important;
            border-color: $color-black !important;

            &:hover,
            &:focus {
                background-color: transparent !important;
                border-color: $color-black !important;
            }
        }

        &:hover,
        &:focus {
            border-color: $color-blue-light;
        }
    }

    &.is-primary,
    &.is-secondary {
        &.is-outlined {
            &,
            &.is-hovered,
            &:hover,
            &.is-focused,
            &:focus,
            &.is-active,
            &:active {
                color: $color-black !important;
                background-color: $primary-invert !important;
                text-decoration: underline !important;

                .icon {
                    fill: $color-black !important;
                }
            }
        }

        &.is-inverted {
            &:hover,
            &:focus {
                color: $secondary-invert !important;
                background-color: $primary-invert !important;
                border-color: $primary-invert !important;

                .icon {
                    fill: $secondary-invert !important;
                }
            }
        }
    }

    &.is-primary-invert {
        background-color: $color-blue-light;
        border-color: $color-blue-light;
        color: $color-black !important;

        .icon {
            fill: $color-black !important;
        }
    }

    &.is-secondary-invert {
        &.is-outlined {
            color: $secondary-invert !important;
            border-color: $secondary-invert !important;

            .icon {
                fill: $secondary-invert !important;
            }


            &.is-hovered,
            &:hover {
                color: $secondary-invert !important;
                background-color: $tertiary !important;
                border-color: $secondary-invert !important;
                text-decoration: underline !important;

                .icon {
                    fill: $secondary-invert !important;
                }
            }
        }
    }

    &.is-small {
        &.button--icon {
            .icon {
                display: block;
            }
        }
    }
}
