/* stylelint-disable declaration-no-important */
.has-colors-primary {
    h1,
    h2 {
        color: $primary-invert;
    }

    a {
        &.button.is-primary {
            color: $secondary-invert !important;

            .icon {
                fill: $secondary-invert !important;
            }

            &.is-hovered,
            &:hover,
            &.is-focused,
            &:focus {
                border-color: $secondary-invert !important;
                color: $primary !important;

                .icon {
                    fill: $primary !important;
                }
            }
        }
    }
}

.has-colors-accent-secondary {
    h1,
    h2 {
        color: $secondary-invert;
    }
}
