.has-colors-primary {
    h1,
    h2 {
        color: $primary-invert;
    }

    a {
        &.button.is-primary {
            color: $secondary-invert !important;

            .icon {
                fill: $secondary-invert !important;
            }
        }
    }
}

.has-colors-accent-secondary {
    h1,
    h2 {
        color: $secondary-invert;
    }
}

.has-colors-darkblue {
    h1,
    h2 {
        color: $primary-invert;
    }
}

.has-colors-red-light,
.has-colors-darkblue-light,
.has-colors-beige,
.has-colors-beige-light,
.has-colors-lightblue,
.has-colors-lightblue-light {
    h1,
    h2 {
        color: $secondary-invert;
    }
}

main {
    .has-background-secondary,
    .has-colors-secondary {
        border: 1px solid $secondary-invert;
    }
}
