/**
 * Gravityforms
 */
.gform_wrapper {
    form {
        select,
        input,
        textarea {
            border: 1px solid $secondary-invert;
        }

        .button {
            &,
            &:active,
            &:focus {
                background-color: $color-blue-light;
                border-color: $color-blue-light;
                color: $color-black;

                .icon {
                    fill: $color-black;
                }
            }
        }
    }
}

form {
    input[type="text"] {
        border: 1px solid $secondary-invert;
    }
}
