.h1,
h1 {
    @include from($desktop) {
        font-size: 4.588rem !important;
        color: $primary;
    }
}

.h2,
h2 {
    @include from($desktop) {
        font-size: 3.388rem !important;
        color: $primary;
    }
}

.hero__box {
    h1,
    .h1 {
        color: $primary-invert;
    }
}
