.notice-banner {
    .notice-banner__content {
        a {
            font-weight: $weight-normal !important;
        }
    }

    &.has-background-primary {
        background-color: $color-black !important;
        color: $primary !important;

        h2 {
            color: $primary;
        }

        .notice-banner__content {
            > .icon {
                fill: $primary !important;
            }
        }

        a.notice-banner__link {
            color: $primary !important;

            > .icon {
                color: $primary-invert !important;
            }
        }
    }

    &.has-background-secondary {
        border: 1px solid $primary;
    }
}
