.pagination {
    .pagination-item {
        &__link {
            &:not(.hellip) {
                border: 1px solid $primary;
            }
        }

        &.is-current {
            .pagination-item__link {
                border-color: $secondary-invert;
            }
        }

        &:not(.is-current) {
            .pagination-item__link {
                &:hover {
                    color: $color-black !important;
                }
            }
        }
    }

    .unavailable {
        display: flex;
        align-items: flex-end;
    }

    .arrow {
        .icon {
            fill: $secondary-invert;
        }
    }
}
