.primary-nav {
    flex-wrap: wrap;
    // .navbar-item > .navbar-dropdown-control > a,
    // .navbar-item > a,
    .navbar-dropdown__parent-link {
        font-family: $family-tertiary;
        color: $black !important;
        @include from($desktop) {
            font-size: 1.235rem;
            letter-spacing: .05em;
        }
    }

    .navbar-item,
    .navbar-dropdown__parent-link {
        &:hover{
            > a, & { 
                color:$navbar-item-dropdown-accent-color !important;
            }
        } 
    }


    &--dropdown {
        .navbar-dropdown {
            padding-bottom: 3rem;
        }

        .navbar-grid {
            overflow: hidden;
            padding:0.2rem;
            .navbar-item.current-menu-item {
                padding-left:1.5rem;
            }
        }
    }
}
