.primary-nav {
    flex-wrap: wrap;
    .navbar-item > .navbar-dropdown-control > a,
    .navbar-item > a {
        font-family: $family-tertiary;
        color: $black !important;
        @include from($desktop) {
            font-size: 1.235rem;
            letter-spacing: .05em;
        }
    }

    >.has-dropdown {
        &.is-active,
        &:focus,
        &:hover {
            > div > .navbar-link {
                color:$primary !important;
            }
        }
    }

    .navbar-item,
    .navbar-dropdown__parent-link {
        color: $black !important;
        &:hover{
            > a, & { 
                color:$primary !important;
            }
        } 
    }


    &--dropdown {
        .navbar-dropdown {
            padding-bottom: 3rem;
            .icon{
                fill:$primary;
            }
        }

        .navbar-grid {
            overflow: hidden;
            padding:0.2rem;
            .navbar-item {
                &.current-menu-item,
                &.current-menu-parent {
                    padding-left:1.5rem;
                }
            }
        }
    }
}
