/*--------------------------------------------------------------
# Overrides - Define parent theme variable overrides here.
--------------------------------------------------------------*/

/*--------------------------------------------------------------
assets/styles/helpers/_button.scss
--------------------------------------------------------------*/
$button-font-weight: $weight-bold;

/*--------------------------------------------------------------
assets/styles/ui-components/_pagination.scss
--------------------------------------------------------------*/
$pagination-item-background-color: $secondary;
$pagination-item-background-color-hover: $primary-light-invert; // TODO: Hover-tilalle varjo
$pagination-item-background-color-focus: $primary-light-invert;
$pagination-item-color-current: $primary-light-invert;
$pagination-item-color-hover: $primary;
$pagination-item-color-focus: $primary;
$pagination-item-background-color-current: $secondary-invert;
$pagination-item-background-color-current-hover: $secondary-invert !default;
$pagination-item-background-color-current-focus: $secondary-invert !default;
$pagination-item-border-radius: 50%;

/*--------------------------------------------------------------
assets/styles/ui-components/_sibling-navigation.scss
--------------------------------------------------------------*/
$sibling-navigation-item-background-color: $primary-light-invert;
$sibling-navigation-item-border-color: $sibling-navigation-item-background-color;
$sibling-navigation-item-active-color: $primary-light-invert;
$sibling-navigation-item-active-background-color: $secondary-invert;
