@import "functions";

// All Tampere brand colors
$color-white: #fcfcfc;
$color-black: #1c1f26;

$color-red: #D2492A;
$color-red-light: #E5917E;
$color-darkblue: #003F72;
$color-darkblue-light: #1195FF;
$color-beige: #B3995D;
$color-beige-light: #D1C29E;
$color-lightblue: #0098C3;
$color-lightblue-light: #42D5FF;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-vaalean-harmaa: #bebfbf;
$color-tumma-harmaa: #585857;
