@import "functions";

// All Tampere brand colors
$color-white: #fcfcfc;
$color-black: #1c1f26;

$color-darkblue: #003F72;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-vaalean-harmaa: #bebfbf;
$color-tumma-harmaa: #585857;
