@import "functions";

// All Tampere brand colors
$color-white: #fcfcfc;
$color-black: #1c1f26;

$color-red: #d2492a;
$color-red-light: #e5917e;
$color-darkblue: #003f72;
$color-darkblue-light: #1195ff;
$color-beige: #b3995d;
$color-beige-light: #d1c29e;
$color-lightblue: #0098c3;
$color-lightblue-light: #42d5ff;
$color-blue-light: #99d6e7;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-vaalean-harmaa: #bebfbf;
$color-tumma-harmaa: #585857;
