.filharmonia-hero {
    h1 {
        @include from($tablet) {
            font-size: 3.765rem !important;
        }

        @include from($desktop) {
            font-size: 4.706rem !important;
        }

        @include from($fullhd) {
            font-size: 5.882rem !important;
        }
    }

    &__title,
    &__description {
        span {
            background-color: $primary;
            box-decoration-break: clone;
        }
    }

    &__description {
        font-weight: $weight-normal;

        > * {
            padding: .25rem .5rem;
        }
    }

    &__background-container {
        min-height: 75vw !important; // sass-lint:disable-line no-important

        @include from($tablet) {
            min-height: 50vw !important; // sass-lint:disable-line no-important
        }

        @include from($desktop) {
            min-height: 36.198vw !important; // sass-lint:disable-line no-important
        }

        @include from(1600px) {
            &::before,
            &::after {
                width: 66px;
            }
        }
    }
}
