.subpages {
    .post-link {
        border: 1px solid $primary;

        &.has-background-black {
            border: 1px solid $black;
        }

        &.has-background-black,
        &.has-background-primary {
            h3 {
                color: $white;
            }

            &:focus,
            &:hover {
                h3 {
                    color: $heading;
                }

                svg.icon {
                    fill: $heading !important;
                }
            }
        }

        &.has-background-primary {
            &:hover,
            &:focus {
                background-color: $primary !important;
            }
        }

        &.has-background-image {
            border: none !important;
        }
    }
}
