.subpages {
    .post-link {
        border: 1px solid $primary;

        &.has-background-black {
            border: 1px solid $black;
        }

        &.has-background-black,
        &.has-background-primary {
            h3 {
                color: $white;
            }
        }

        &:not(.has-background-image) {
            &:hover,
            &:focus {
                background-color: $primary !important;
                color: $color-white !important;
                border-color: $primary !important;
            }
        }

        &.has-background-image {
            border: none !important;
        }
    }
}
