.subpages {
    .post-link {
        border: 1px solid $primary;

        &.has-background-black {
            border: 1px solid $black;
        }

        &:not(.has-background-image) {
            &:hover,
            &:focus {
                background-color: $primary-invert !important;
                color: $color-black !important;
                border-color: $primary !important;
            }
        }

        &.has-background-image {
            border: none !important;
        }
    }
}
